{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content_title %}设置新密码{% endblock %}
{% block content_subtitle %}
{% if token_fail %}
链接无效或已过期
{% else %}
请输入您的新密码
{% endif %}
{% endblock %}

{% block auth_content %}
{% if token_fail %}
<p style="text-align: center; color: #0055a4;">通过邮件发送的密码重置链接无效，或者可能已过期。</p>
<p style="text-align: center;"><a href="{% url 'account_reset_password' %}" class="btn-primary"
        style="display: inline-block; width: auto; padding: 10px 20px; text-decoration: none;">重新申请重置链接</a></p>
{% else %}
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn-primary" type="submit">更改密码</button>
</form>
{% endif %}
{% endblock %}

{% block auth_footer %}
<p><a href="{% url 'account_login' %}" style="color: #666; text-decoration: none;">返回登录</a></p>
{% endblock %}