{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content_title %}重置密码{% endblock %}
{% block content_subtitle %}请输入您的注册邮箱，我们将发送重置链接{% endblock %}

{% block auth_content %}
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn-primary" type="submit">发送重置邮件</button>
</form>
{% endblock %}

{% block auth_footer %}
<p><a href="{% url 'account_login' %}" style="color: #666; text-decoration: none;">返回登录</a></p>
{% endblock %}